[Desktop Entry]
Name=<PlaceHolderName>
GenericName=<PlaceHolderName>
Comment=<PlaceholderShortDesc>
Exec=<placeholdername> %F
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=<PlaceholderCategories>
