[Desktop Entry]
Name=Tricolor Trials
GenericName=Tricolor Trials
Comment=<PlaceholderShortDesc>
Exec=tricolor-trials %F
Icon=io.github.mlm_games.tricolor-trials
Terminal=false
Type=Application
Categories=<PlaceholderCategories>
