[Desktop Entry]
Name=<PlaceHolderName>
GenericName=<PlaceHolderName>
Comment=<PlaceholderShortDesc>
Exec=<placeholdername> %F
Icon=io.github.mlm_games.<placeholdername>
Terminal=false
Type=Application
Categories=<PlaceholderCategories>
